<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello World of D&D</h1>
</body>
</html> -->
{% extends '_templates.html' %}
{% block title %}Welcome to Tavern{% endblock %}
{% block body %}
<div class="center-content">
    <main class="text-center">
        <div class="container vh-100">
            <div class="row h-100 justify-content-center align-items-center">
              <div class="col-12 text-center">
                <a href="new_login">
                    <button type="submit" class="btn btn-primary btn-danger btn-lg mb-4 w-50">Create New Character</button>
                </a>
                <a href="/sign_up">
                    <button type="submit" class="btn btn-primary btn-danger btn-lg mb-4 w-50">Existing Character</button>
                </a>
                <a href="/forum">
                    <button type="submit" class="btn btn-primary btn-danger btn-lg mb-4 w-50">Find Adventures</button>
                </a>
              </div>
            </div>
          </div>  
    </main>
</div>
{% endblock %}