{% extends '_templates.html' %}
{% block title %}Forum{% endblock %}
{% block body %}
<h1>Forum</h1>

<!-- show discussions -->
<div class="card mb-3">
    <div class="card-body">
        <h2 class="card-title">{{ post.title }}</h2>
        <h2 class="card-author">{{ post.author.username }}</h2>
        <p class="card-text">{{ post.content }}</p>
        <p><b>Tags:</b> <span class="tags">{{ post.tags|join(', ') }}</span></p> <!-- Apply the 'tags' class here -->
    </div>
</div>

<hr>
{% endblock %}