{% extends '_templates.html' %}
{% block title %}Character Creator{% endblock %}
{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header text-center bg-danger text-white">
                    <h1 style="color: white;">Character Creator</h1>
                </div>
                <div class="card-body">
                    <form>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="charName" class="form-label">Name:</label>
                                <input type="text" class="form-control" id="charName">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="charClass" class="form-label">Class:</label>
                                <input type="text" class="form-control" id="charClass">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="charRace" class="form-label">Race:</label>
                                <input type="text" class="form-control" id="charRace">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="charLevel" class="form-label">Level:</label>
                                <input type="number" class="form-control" id="charLevel" min="1">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="charBackground" class="form-label">Background:</label>
                                <input type="text" class="form-control" id="charBackground">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="str" class="form-label">Strength:</label>
                                <input type="number" class="form-control" id="str" min="1">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label for="dex" class="form-label">Dexterity:</label>
                                <input type="number" class="form-control" id="dex" min="1">
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="con" class="form-label">Constitution:</label>
                                <input type="number" class="form-control" id="con" min="1">
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="int" class="form-label">Intelligence:</label>
                                <input type="number" class="form-control" id="int" min="1">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="wis" class="form-label">Wisdom:</label>
                                <input type="number" class="form-control" id="wis" min="1">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="cha" class="form-label">Charisma:</label>
                                <input type="number" class="form-control" id="cha" min="1">
                            </div>
                        </div>

                        <div class="text-center mt-4">
                            <button type="submit" class="btn bg-danger text-white">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}