{% extends '_templates.html' %}
{% block title %}User Profile{% endblock %}
{% block body %}
<div class="container py-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body d-flex flex-column py-4"> 
                    <div class="mb-auto">
                        <i class="fas fa-user-tie fa-7x mt-5"></i>
                        <h5 class="card-title text-black">Welcome, {{ username }}!</h5>
                        <p class="card-text text-black">Welcome back to your profile {{ username }}. Here you are able to see all of your info</p>
                    </div>    
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Profile Details
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Username: {{ username }}</li>
                    <li class="list-group-item">Joined: {{ join_date }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
