{% extends '_templates.html' %}
{% block title %}User_Profile{% endblock %}
{% block body %}
<div class="user_profile">
    <!-- User's profile pic -->

    <!-- User's information -->
    <div class="user-info">
        <h1> Username </h1>
        <p>Email: </p>

        <h2>User's Characters</h2>
        <ul><!-- Display user characters
            
        -->
        </ul>

        <h2>User's Posts</h2>
        <ul><!-- Display user posts
            
        -->
        </ul>
    </div>
</div>
{% endblock %}