body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/87adf66c-7944-4128-8b9b-d892d63090b4/dg494ne-73897a86-cb9f-42e2-a141-142197a210d9.jpg/v1/fill/w_1192,h_670,q_70,strp/dnd_tavern_by_brokenteapotstudios_dg494ne-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjE2MCIsInBhdGgiOiJcL2ZcLzg3YWRmNjZjLTc5NDQtNDEyOC04YjliLWQ4OTJkNjMwOTBiNFwvZGc0OTRuZS03Mzg5N2E4Ni1jYjlmLTQyZTItYTE0MS0xNDIxOTdhMjEwZDkuanBnIiwid2lkdGgiOiI8PTM4NDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.-bR3wROIpu_rFnKw1XTvMbBhJe3LqZWmzjNhsSDNXUA');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: #f5f5dc;
}

.wide-button {
    width: 70%;
}


.card-title {
    color: #ffd700;
}

.card-text {
    color: #ffd700;
}

.tags {
    color: red;
}

footer {
    position: sticky;
    bottom: 0;
}