body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/87adf66c-7944-4128-8b9b-d892d63090b4/dg494ne-73897a86-cb9f-42e2-a141-142197a210d9.jpg/v1/fill/w_1192,h_670,q_70,strp/dnd_tavern_by_brokenteapotstudios_dg494ne-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjE2MCIsInBhdGgiOiJcL2ZcLzg3YWRmNjZjLTc5NDQtNDEyOC04YjliLWQ4OTJkNjMwOTBiNFwvZGc0OTRuZS03Mzg5N2E4Ni1jYjlmLTQyZTItYTE0MS0xNDIxOTdhMjEwZDkuanBnIiwid2lkdGgiOiI8PTM4NDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.-bR3wROIpu_rFnKw1XTvMbBhJe3LqZWmzjNhsSDNXUA');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: white;
}

.wide-button {
    width: 70%;
}


.card-title {
    color: #ffd700;
}

.card-text {
    color: #ffd700;
}

.tags {
    color: red;
}

footer {
    position: sticky;
    bottom: 0;
}

.forum-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.forum-posts {
    width: 100%;
    margin-top: 20px;
}

.forum-post {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}


.forum-post-title a {
    font-size: 1.2em;
    color: #333;
    text-decoration: none;
}

.forum-post-details {
    font-size: 0.9em;
    color: #666;
}

.forum-post-stats {
    font-size: 0.9em;
    color: #666;
}

.forum-post-actions a,
.forum-post-actions input[type="submit"] {
    margin-right: 10px;
    text-decoration: none;
    color: #007bff;
    border: none;
    background: none;
    cursor: pointer;
}

.forum-post-actions form {
    display: inline;
}

.pagination {
    text-align: center;
    padding: 20px;
}

.pagination a {
    display: inline-block;
    padding: 8px 16px;
    margin: 0 4px;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    color: #007bff;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 4px;
}

.pagination a:hover,
.pagination a:focus {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.pagination strong {
    display: inline-block;
    padding: 8px 16px;
    margin: 0 4px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
}

.pagination .ellipsis {
    display: inline-block;
    padding: 8px 16px;
    color: #333;
}

/* styles for arrows */
.pagination a.disabled,
.pagination a.disabled:hover {
    color: #ccc;
    border-color: #ccc;
    background-color: #f8f9fa;
    cursor: not-allowed;
}

.post-title {
    color: red;
}

.reply-form textarea {
    width: 100%;
    margin-bottom: 10px;
}

.reply {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.reply .meta {
    font-size: 0.8em;
    color: #666;
}

.forum-post-stats {
    font-size: 0.9em;
    color: #666;
}

.vip_container {
    max-width: 250px;
    padding: 1rem;
    position: relative;
    background: linear-gradient(to right, red, gold);
    padding: 3px;
}

.vip_icon {
    width: 24px;
    height: 24px;
    background-size: cover;
    background-position: center;
}

@media screen and (min-width: 1200px) {
    body {
        font-size: 18px;
    }

    .forum-container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .forum-post {
        padding: 30px;
    }

    .forum-post-title a {
        font-size: 1.5em;
    }
}

.forum-post-tags {
    margin: 10px 0;
}

.tag {
    display: inline-block;
    background-color: #333;
    color: #f5f5f5;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 0.9em;
}

.tag-filter-form {
    margin-bottom: 20px;
}

.tag-filter-form select {
    padding: 5px 10px;
    margin-right: 10px;
}

.tag-filter-form input[type="submit"] {
    padding: 5px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tag-filter-form input[type="submit"]:hover {
    background-color: #0056b3;
}